body {
    margin: 0;
    text-align: center;
    color: #000000;
}
body{
    height: 1250px;
    background-image: url("images/1352304.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.letter-container {
    width: 400px;
    height: 1140px;
    margin: auto;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    background: transparent;
    backdrop-filter: blur(20px);
    position: relative;
    top: 10px;
    margin-bottom: 40px;
}
.letter-container1 {
    width: 400px;
    height: 1180px;
    margin: auto;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    background: transparent;
    backdrop-filter: blur(20px);
    position: relative;
    top: 10px;
    margin-bottom: 40px;
}
.letter {
    position: relative;
    top: 10px;
}
.btn-next {
    width: 250px;
    height: 30px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 40px;
    padding: 15px, 0;
    color: rgb(0, 0, 0);
    font-size: 15px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    background: pink;
}
button:hover {
    background: rgb(35, 35, 35);
    color: pink;
}
video {
    margin-top: 10px;
    border-radius: 15px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}
